################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/SemanticKanelTest/bin/Debug/net7.0
/SemanticKanelTest/obj
