.top-area {
    // width: 100%;
    // max-width: 1000px;
    // height: 100vh;
    padding: 15px;
}

.input-message-area {
    height: 70px;
    width: 100%;
}

.sent-message-form-field {
    width: calc(100% - 80px);
    height: 70px;
    background-color: #f5f5f5;
    ;
    margin-right: 10px;
}

.input-sent-message-textarea {
    height: 120px;
    line-height: 25px;
}

.message-area {
    padding: 20px 0px 20px 0px;
}

.chat-area {
    overflow-y: auto;
    margin-top: 30px;
    height: calc(100vh - 142px);
}

.chat-area-system {
    display: flex;
    justify-content: left;
}

.chat-area-user {
    display: flex;
    justify-content: right;
}

.message-box {
    max-width: 500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #99ddad; /*色は任意*/
    box-sizing: border-box;
    margin: 0 !important;
    line-height: 1.5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.message-box-assistant {
    background-color: #EEEEEE;
    max-width: 500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    box-sizing: border-box;
    margin: 0 !important;
    line-height: 1.5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.chat-icon {
    position: relative;
    top: 5px;
}
